@tailwind base;
@tailwind components;
@tailwind utilities;

.forSVG{
    
    
    filter: drop-shadow(rgba(236, 146, 61, 0.22) 0px -10px 20px);
    transition: transform 1.3s ease linear ;
    animation: svgAnimation 1.3s cubic-bezier(0.76,-0.58, 0.29, 0.6) 1  ;
  
  }
@keyframes svgAnimation {
  0%{
    opacity: 0;
    transform: scaleY(0);
    -webkit-filter: drop-shadow(rgba(236, 146, 61, 0.22) 0px 1px 0px);
    -moz-filter: drop-shadow(rgba(236, 146, 61, 0.22) 0px 0px 0px);
    filter: drop-shadow(rgba(236, 146, 61, 0.22) 0px 0px 0px);
  }47%{
    opacity: 1;
    transform: scaleY(1);
  }100%{
     -webkit-filter: drop-shadow(rgba(236, 146, 61, 0.22) 0px -44px 40px);
    -moz-filter: drop-shadow(rgba(236, 146, 61, 0.22) 0px -44px 40px);
    filter: drop-shadow(rgba(236, 146, 61, 0.22) 0px -44px 40px)
  }
}