@tailwind base;
@tailwind components;
@tailwind utilities;

.forSVG{
    
    
    filter: drop-shadow(rgba(236, 146, 61, 0.22) 0px -10px 20px);
    transition: transform 2s ease linear ;
    animation: svgAnimation 2s cubic-bezier(0.76,-0.58, 0.29, 0.6) 1  ;
  
  }
@keyframes svgAnimation {
  0%{
    opacity: 0;
    transform: scaleY(0);
    
  }90%{
    opacity: 0;
    transform: scaleY(1);
  }100%{
    transition-duration: 1000ms;
    filter: drop-shadow(rgba(236, 146, 61, 0.22) 0px -10px 20px)
  }
}